
#yrere {
    width: 350px;
    height: 430px;
    border-radius: 50px;
    padding-top: 40px;
    padding: 40px;
    background-color: #425c5a;
}
.container {
    width: 100%;
    margin: 10px auto;
    font-family: Arial;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.planeId {
    color: #ffffff;
}
.time {
    color: #ffffff;
}
#Planes {
    width: 450px;
    height:100%;
    border-radius:50px;
    padding-top:40px;
    padding:40px;
    background-color: blue;
}

#hr {
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}
hr {
    
    height:1px;
    border:none;
    background-color: #d3bfa7
}
.left{
    width:40%;
}
.middle{
    width:20%;
}
.right{
    text-align:right;
    width:40%;
}
.text {
    color: #d7dcdc;
    margin-bottom:12px;
}
.fromWhere {
    font-size: xx-large;
    color: #d3bfa7;
}
.toWhere {
    font-size: xx-large;
    color: #d3bfa7;
}
